/venv
/__pycache__
*.interp
*.tokens
*Listener.py
*Parser.py
*Visitor.py
*Lexer.py
/.antlr
*.dot
*.png
*.ll
*.tac
*.o
*.obj
*.exe
*_linux.bin
/pruebas_evidencia

# Archivos ANTLR del proyecto (excepcion)
!gramatica_v4Lexer.py
!gramatica_v4Parser.py
!gramatica_v4Visitor.py
